* {
  font-family: 'Roboto', sans-serif;
}
header {
  position: relative;
}
.label {
  text-align: center;
}
.label h4.title {
  width: 112px;
  height: 24px;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  line-height: 24px;
}
.label h2.subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 38px;
}
.label .description {
  text-align: center;
  font-size: 17px;
}
nav {
  height: 50px;
  background: #212121;
  position: fixed;
  width: 100%;
  z-index: 8;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin: 0;
  list-style: none;
}
nav .menu .menu_item {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
}
nav .menu .menu_item .menu_link {
  text-decoration: none;
  line-height: 50px;
  display: block;
  color: #fff;
  transition: all 300ms ease-in-out;
}
nav .menu .menu_item .menu_link:hover {
  color: #8b8b8b;
  margin-top: -3px;
}
.hamburger {
  display: none;
}
.subheader {
  position: absolute;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 84px;
  top: 50px;
}
.subheader .logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .logo_description {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
}
.subheader .call {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  margin-top: 23px;
}
.subheader .number {
  display: block;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
  line-height: 12px;
}
.subheader button {
  margin-top: 19px;
  background: linear-gradient(#4ce2ff, #20afca);
  border: 0px;
  border-bottom: 3px solid #1c99b1;
  width: 172px;
  height: 43px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 1px 1px 1px #494949;
}
.subheader button:hover {
  transition: 300ms all;
  background: linear-gradient(#9cebff, #68cee7);
}
.subheader .xs-visible {
  display: none;
}
.partners {
  text-align: center;
  min-height: 800px;
  background: url('../img/main_bg.jpg') center center / cover no-repeat;
  padding: 150px 0 135px 0;
}
.partners .title_partners {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 66px;
  margin-bottom: 0;
  line-height: 44px;
}
.partners .subtitle_partners {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 0;
  line-height: 40px;
}
.partners .description_one {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
}
.partners .description_two {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 38px;
}
.partners .partners_btn {
  margin-top: 122px;
  background: linear-gradient(#4ce2ff, #20afca);
  border: 0px;
  border-bottom: 3px solid #1c99b1;
  width: 259px;
  height: 63px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: 1px 1px 1px #494949;
}
.partners .partners_btn:hover {
  transition: 300ms all;
  background: linear-gradient(#9cebff, #68cee7);
}
.advantages {
  padding: 70px 0 65px 0;
  flex-wrap: wrap;
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages .adv_items {
  display: flex;
  text-align: left;
}
.advantages .adv_items .adv_item {
  display: flex;
  min-height: 135px;
}
.advantages .adv_items .adv_item .img_block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .adv_items .img_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #20afca;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin-right: 27px;
}
.advantages .adv_descr {
  max-width: 340px;
}
.advantages .adv_descr p {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
.advantages .adv_descr h3 {
  color: #1eacc7;
  font-size: 17px;
}
.mobile_app {
  background: url("../img/second_bg.jpg") center center / cover no-repeat;
  min-height: 865px;
  padding: 48px 0 79px 0;
}
.mobile_app .row {
  margin-top: 32px;
}
.mobile_app .mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding: 91px 0 34px 0;
}
.mobile_app .mobile_item h3 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 31px;
}
.mobile_app .mobile_item .plus_box {
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background: #000;
  border-radius: 100%;
  margin: 0 auto;
  transform: translateX(-12px);
}
.mobile_app .mobile_item .plus_box span.plus {
  color: #1eacc7;
  font-size: 24px;
  line-height: 26px;
  transition: 300ms all;
}
.mobile_app .mobile_item .plus_box span.plus:hover {
  color: orange;
}
.mobile_app .mobile_item_1 {
  background: url("../img/ub1.png") center center / cover no-repeat;
}
.mobile_app .mobile_item_2 {
  background: url("../img/ub2.png") center center / cover no-repeat;
}
.mobile_app .mobile_item_3 {
  background: url("../img/ub3.png") center center / cover no-repeat;
}
.mobile_app .mobile_item_4 {
  background: url("../img/ub4.png") center center / cover no-repeat;
}
.mobile_app .mobile_item_5 {
  background: url("../img/ub5.png") center center / cover no-repeat;
}
.mobile_app .mobile_item_6 {
  background: url("../img/ub6.png") center center / cover no-repeat;
}
.choise {
  background: url("../img/car_bg.jpg") bottom center no-repeat;
  background-color: #000;
  padding: 56px 0 148px 0;
}
.choise .label h4.title {
  color: #000;
  background: #fff;
}
.choise .label h2.subtitle {
  color: #fff;
}
.choise .label .description {
  color: #fff;
}
.choise .choise_car {
  margin-top: 56px;
}
.choise .cars {
  font-size: 17px;
  font-weight: 300;
}
.require {
  padding: 68px 0 84px 0;
}
.require .require_block {
  margin: 33px 0;
}
.require .require_block .require_title {
  color: #1ca8c3;
  font-size: 22px;
}
.require .require_block .require_list {
  list-style: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require .require_block .require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require .require_block .require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../icons/blue_chek.png) center center / cover no-repeat;
}
.require .require_block .require_descr {
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3;
}
.require .nbm {
  margin-bottom: 0;
}
.require .warning .require_title {
  color: #ff8282;
}
.require .warning .require_list li:before {
  background: url(../icons/red_chek.png) center center / cover no-repeat;
}
.world {
  min-height: 721px;
  padding: 50px 0;
  background: url(../img/third_bg.jpg);
}
.world .label .title {
  background-color: #fff;
  color: #000;
}
.world .label .subtitle {
  color: #fff;
}
.world .label .description {
  color: #fff;
}
.world .city {
  text-decoration: none;
  color: #1fbad6;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 479px;
  display: inline-block;
  transition: 300ms all;
}
.world .city:hover {
  text-decoration: underline;
  transition: 300ms all;
}
footer {
  border-bottom: 8px solid #000;
  padding: 14px 23px 0 23px;
  position: relative;
  height: 156px;
}
footer .separator:before {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 4px;
  background-color: #1fbad6;
  top: 14px;
  left: 50%;
  transform: translateX(-150px);
}
footer .footer {
  margin-top: 32px;
  display: flex;
  position: relative;
}
footer .footer .socials {
  display: flex;
  width: 25%;
  justify-content: start;
}
footer .footer .socials .icons {
  margin-right: 9px;
}
footer .footer .socials .icons:last-child {
  margin-right: 0;
}
footer .footer .socials .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  background: #000;
  border-radius: 100%;
  transition: 300ms all ease-in-out;
}
footer .footer .socials .icons a:hover {
  border-bottom: 3px solid #0e4d5a;
  transform: translateY(-3px);
  background: #1192ce;
}
footer .footer .links {
  display: flex;
  width: 50%;
  justify-content: center;
}
footer .footer .links .link {
  margin-right: 47px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
footer .footer .links .link a {
  color: #000;
}
footer .footer .links .link:last-child {
  margin-right: 0;
}
footer .footer .apps {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}
footer .footer .apps .app {
  margin-left: 7px;
}
footer .footer .apps .app img {
  height: 24px;
  transition: 300ms all ease-in-out;
}
footer .footer .apps .app img:hover {
  box-shadow: 0px 3px 5px #1ca8c3;
}
footer .supports {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
footer .supports .support {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 22px;
}
footer .supports .support:last-child {
  margin-right: 0;
}
footer .supports .support a {
  color: #999999;
}
footer .lang {
  display: block;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 11px;
  text-transform: uppercase;
  color: #1fbad6;
}
@media only screen and (max-width: 1200px) {
  .partners {
    min-height: 700px;
    padding: 135px 0 100px 0;
  }
  .partners .title_partners {
    font-size: 50px;
    margin-top: 0px;
    line-height: 24px;
  }
  .partners .subtitle_partners {
    font-size: 30px;
    margin-top: 18px;
    line-height: 30px;
  }
  .partners .description_one {
    font-size: 16px;
  }
  .partners .description_two {
    font-size: 16px;
  }
  .partners .partners_btn {
    margin-top: 85px;
  }
  .advantages {
    padding: 50px 0 0px 0;
    margin-top: 0px;
  }
  .advantages .adv_items {
    display: flex;
    text-align: left;
    align-items: flex-start;
  }
  .mobile_app .mobile_item {
    width: 300px;
  }
}
@media (max-width: 991px) {
  nav .menu .menu_item .menu_link:hover {
    color: #fff;
    margin-top: 0;
  }
  .subheader button:hover {
    background: linear-gradient(#4ce2ff, #20afca);
  }
  .partners .partners_btn:hover {
    background: linear-gradient(#4ce2ff, #20afca);
  }
  nav {
    position: static;
  }
  nav .menu .menu_item {
    font-size: 11px;
  }
  .partners .title_partners {
    font-size: 30px;
    margin-top: 0px;
    line-height: 24px;
  }
  .subheader .logo img {
    width: 100%;
  }
  .subheader .logo_description {
    font-size: 11px;
  }
  .subheader .number {
    font-size: 19px;
  }
  .subheader button {
    width: 100%;
    height: 40px;
    margin-top: 22px;
  }
  .partners .subtitle_partners {
    font-size: 22px;
  }
  .advantages .adv_items .adv_item {
    flex-direction: column;
  }
  .advantages .adv_descr h3 {
    margin-top: 15px;
  }
  .mobile_app .mobile_item {
    width: 230px;
  }
  .mobile_app .mobile_item h3 {
    font-size: 18px;
  }
  .choise .choise_car img {
    width: 100%;
  }
  footer .footer .links .link {
    margin-right: 15px;
    font-size: 13px;
  }
  footer {
    border: none;
    padding: 14px 10px 0 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  footer .footer .apps {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  footer .footer .apps .app:first-child {
    margin-left: 0;
  }
  footer .footer .links {
    margin-top: 10px;
    width: 100%;
  }
  footer .supports {
    margin-top: 10px;
  }
  footer .footer .socials {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  nav .menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vw;
    padding: 5px 10px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  nav .menu_active {
    left: 0;
    position: absolute;
    z-index: 999;
  }
  nav .menu .menu_item {
    padding-right: 0;
    border-bottom: 1px solid #8d8d8d;
  }
  nav .menu .menu_item:last-child {
    border: none;
  }
  nav .menu .menu_item .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 24px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    margin-bottom: 6px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(9px) rotate(45deg);
  }
  .xs-hider {
    display: none;
  }
  .subheader button {
    margin-top: 10px;
    height: 32px;
  }
  .subheader .number {
    margin-left: 50px;
    margin-top: 16px;
  }
  .subheader .xs-visible {
    display: block;
  }
  .subheader .logo_description {
    font-size: 9px;
  }
  .partners .title_partners {
    font-size: 24px;
  }
  .partners .subtitle_partners {
    font-size: 17px;
  }
  .advantages .adv_items .adv_item {
    align-items: center;
    text-align: center;
  }
  footer .supports {
    display: none;
  }
  .advantages .adv_items .img_circle {
    margin-right: 0;
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 575px) {
  nav .menu .menu_item .menu_link {
    font-size: 20px;
  }
  .subheader .logo_description {
    display: none;
  }
  .subheader .logo {
    margin-top: 30px;
  }
  .subheader .number {
    font-size: 13px;
    margin-left: 35px;
  }
  .subheader button {
    font-size: 10px;
  }
  .partners .description_one {
    display: none;
  }
  .partners .description_two {
    display: none;
  }
  .partners {
    min-height: 510px;
  }
  .partners .partners_btn {
    width: 220px;
    height: 45px;
  }
  footer .supports {
    display: none;
  }
  .partners {
    padding: 100px 0 35px 0;
  }
  .partners .title_partners {
    font-size: 20px;
  }
  nav .menu_active {
    width: 85%;
  }
  .label h2.subtitle {
    font-size: 16px;
    margin-top: 10px;
  }
  footer .footer .links .link {
    font-size: 12px;
  }
}
